<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}Belgrano de Córdoba{% endblock%}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}

            <!-- Bootstrap Core CSS -->
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('css/plugins/metisMenu/metisMenu.min.css') }}" rel="stylesheet">
            <link href="{{ asset('css/sb-admin-2.css') }}" rel="stylesheet">
            <link href="{{ asset('font-awesome-4.1.0/css/font-awesome.min.css') }}" rel="stylesheet">
            {% if css is defined %}
                {% for file in css %}
                    <link href="{{ asset(file) }}" rel="stylesheet">
                {% endfor %}
            {% endif %}

        {% endblock %}    
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script>
            var base_url = '{{ app.request.baseUrl }}';
        </script>

    </head>

    <body>

        <div id="wrapper">
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">                  
                    <a class="navbar-brand" href="{{  path('home') }}">
                        <img src="{{ asset('images/cabc.png') }}" style="width: 30px; height: 30px; float: left; margin-top: -5px;" alt="Club Atletico Belgrano" title="Club Atletico Belgrano"/> &nbsp;&nbsp;
                        Club Atletico Belgrano
                    </a>
                </div>
                <!-- /.navbar-header -->

             

               
            </nav>

            <!-- Page Content -->
            <div id="page-wrapper">
                {% if message is defined %}
                    <div class="row message">
                        <div class="col-lg-6">
                            <div class="alert alert-{{ message.status }}">
                                {{ message.text }}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-lg-12">
                    {% block body %}{% endblock %}
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    {% block javascripts %}
        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/plugins/metisMenu/metisMenu.min.js') }}"></script>
        <script src="{{ asset('js/sb-admin-2.js') }}"></script>
        {% if js is defined %}
            {% for file in js %}
                <script type="text/javascript" src="{{ asset(file) }}"></script>
            {% endfor %}
        {% endif %}
    {% endblock %}

</body>
</html>

