{% extends 'BDCPollBundle::layout.html.twig' %}


{% block body -%}  
    <div class="row">
        <div class="col-lg-12">
            <ul class="breadcrumb">
                <li><i class="fa fa-bar-chart-o"></i> <a href="{{ path('poll') }}">Encuestas</a></li>
                <li><a href="{{ path('poll_show', { 'id': poll.id }) }}">{{poll.name}}</a>
                <li class="active">Ver Pregunta</li>
            </ul>
        </div>
    </div>    
    <h2 class="page-header">{{ entity.question }}<!--<a href="{{ path('poll_form_edit', { 'id': entity.id }) }}" class="btn btn-outline btn-primary btn-xs btn-action">Editar</a>--></h2> 




    <div class="row">
       
        <div class="col-lg-4">
            <ul class="list-group">
                <li class="list-group-item">
                    {% if answers|length > 0 %}
                        <span class="badge">{{ answers|length }}</span>
                        Respuestas
                    {% else %}

                        <span class="badge">0</span>
                        No hay respuestas agregadas
                    {% endif %}


                </li>
            </ul>
        </div>
        
        {%if answers is not empty %} 
            <div class="col-lg-12">
                <h2 class="page-header">Respuestas</h2>
                <div class="row">
                    <div class="col-lg-12 page-actions">
                        <button onclick="add_answer_modal( {{ entity.id }},{{ poll.id }} );" class="btn btn-primary pull-right"><i class="fa fa-plus-circle margin-right-5"></i>Agregar Respuesta</button>

                    </div>
                </div>
                <div class="col-lg-6">        
                <ul class="list-group">
                    {% for a in answers %}
                        <li class="list-group-item">{{ a.answer }} 
                            <div class="pull-right">
                                         
                            <a onclick="edit_answer_modal({{a.id}},{{entity.id}},{{poll.id}},'{{a.answer}}');"><i class="fa fa-pencil"></i></a> |
                            <a onclick="delete_answer_modal({{a.id}},'{{a.answer}}');"><i class="fa fa-trash-o"></i></a> 
                            </div>
                        </li>
                        {% endfor %}
                </ul>
                </div>
            </div>


        {% else %}
            <div class="col-lg-6">
                <div class="alert alert-info">
                    Todavía no has agregado ninguna respuesta, <a href="#" onclick="add_answer_modal( {{ entity.id }}, {{ poll.id }} );
                            return false;" class="alert-link">agregar la primera respuesta</a>.
                </div>
            </div>
        {% endif %}
    </div>

    <div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Agregar Respuesta</h4>
                </div>
                <div class="modal-body">

                    <form method="post" id="answer-form">
                        <label class="control-label">Ingrese una respuesta:</label>
                        <input type="text" class="form-control" id="answer" name="answer"/>
                        <input type="hidden" name="id" id="id" value="{{entity.id}}" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="add_answer_submit();">Confirmar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    
    <div class="modal fade" id="form-modal-edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabelEdit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabelEdit">Editar Respuesta</h4>
                </div>
                <div class="modal-body">

                    <form method="post" id="answer-form">
                        <label class="control-label">Respuesta:</label>
                        <input type="text" class="form-control" id="edit_answer" name="edit_answer"/>
                        <input type="hidden" name="id_answer" id="id_answer" value="" />
                        <input type="hidden" name="id_question" id="id_question" value="{{entity.id}}" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="edit_answer_submit();">Confirmar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    
     <div class="modal fade" id="form-modal-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabelDelete" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabelDelete">Eliminar Respuesta</h4>
                </div>
                <div class="modal-body">

                    <p>Está seguro que desea eliminar la respuesta: "<span id="answer_text"></span>"</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="delete_answer_submit();">Confirmar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    

{% endblock %}


