<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">{{ user.name }} {{ user.lastname }} ({{ user.email }})</h4>
</div>
<div class="modal-body" >
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Preguntas</th>
            <th>Respuestas</th>
        </tr>
        </thead>
        <tbody>
        {% for vote in entity %}
            <tr>
                <td>{{ vote.question }}</td>
                <td>{{ vote.answer }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>