{% extends 'BDCPollBundle::layout.html.twig' %}
{% form_theme edit_form with ['BDCPollBundle:Form:bootstrap-override.html.twig'] %}  

{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><i class="fa fa-users"></i> <a href="{{ path('user') }}">Usuarios</a></li>
                <li class="active">Editar Usuario</li>
            </ol>
        </div>
    </div>    
    <h1 class="page-header">Editar Usuario</h1>
    <div class="row">
        <div class="col-lg-6">
            <form name="bdc_pollbundle_user" id="bdc_pollbundle_user" method="post" action="/belgrano/web/app_dev.php/user/1/update" novalidate="">
                <input type="hidden" name="_method" value="PUT">
                <div class="form-group">
                    {{ form_label(edit_form.dni,'DNI') }}
                    {{ form_errors(edit_form.dni) }}
                    {{ form_widget(edit_form.dni) }}
                </div>

                <div class="form-group">
                    {{ form_label(edit_form.name,'Nombre') }}
                    {{ form_errors(edit_form.name) }}
                    {{ form_widget(edit_form.name) }}
                </div>

                <div class="form-group">
                    {{ form_label(edit_form.last_name,'Apellido') }}
                    {{ form_errors(edit_form.last_name) }}
                    {{ form_widget(edit_form.last_name) }}
                </div>

                <div class="form-group">
                    {{ form_label(edit_form.email,'E-mail') }}
                    {{ form_errors(edit_form.email) }}
                    {{ form_widget(edit_form.email) }}
                </div>
                
                 <div class="form-group">
                    {{ form_label(edit_form.role,'Rol de Usuario') }}
                    {{ form_errors(edit_form.role) }}
                    {{ form_widget(edit_form.role) }}
                </div>

                <div class="form-group">
                    {{ form_label(edit_form.associate_id,'Tipo de Socio') }}
                    {{ form_errors(edit_form.associate_id) }}
                    {{ form_widget(edit_form.associate_id) }}
                </div>

                <div class="form-group">
                    <label class="control-label">Contraseña</label>
                    <input type="password" id="pass" name="pass" class="form-control" />

                </div>
                <div class="form-group">
                    <label class="control-label">Repetir Contraseña</label>
                    <input type="password" id="pass2" name="pass2" class="form-control" />     
                </div>


                <div class="row">
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-primary">Confirmar</button>
                    </div>
                </div>
                {{ form_widget(form._token) }}
            </form>

        </div>

        <ul class="record_actions">

        <!--<li>{{ form(delete_form) }}</li>-->
        </ul>


    {% endblock %}


