{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ str_action }} Usuario</h1>

    <div class="row">
        <div class="col-lg-6">
            <form enctype="multipart/form-data" method="post" action="{{ url }}">
                {{ form_errors(form) }}
 
                {{ form_row(form.dni) }}
                {{ form_row(form.name) }}
                {{ form_row(form.last_name) }}
                {{ form_row(form.email) }}
                {{ form_row(form.role) }}
                {{ form_row(form.associate_id) }}
                {{ form_row(form.password) }}

                {{ form_rest(form) }}

                <input type="submit" />
            </form>    
        </div>
    </div>
     
</ul>
{% endblock %}
