
{% extends 'BDCPollBundle::layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li class="active"><i class="fa fa-user"></i> Socios</li>
            </ol>
        </div>
    </div>    
    <h1 class="page-header">Socios</h1>
    <div class="row">
        <div class="col-lg-12 page-actions">
             <a class="btn btn-primary pull-right"href="{{ path('user_form') }}">
                 <i class="fa fa-plus-circle"></i>Agregar Socio
            </a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
               
                <th>Nombre</th>
                <th>Apellido</th>
                <th>DNI</th>
                <th>E-mail</th>
                <th>Tipo de Socio</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
              {% for entity in entities %}
                <tr>
                   
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.lastname }}</td>
                    <td>{{ entity.dni }}</td>
                    <td>{{ entity.email }}</td>
                    
                    <td>
                        {% if entity.associate.name is defined %}
                            {{ entity.associate.name }}
                        {% endif %}
                    </td>
                    <td>
                        <ul class="table-actions">
                            <li>
                                <a href="{{ path('user_show', { 'id': entity.id }) }}"><i class="fa fa-eye"></i></a> |
                                <a href="{{ path('user_form_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a> |
                                <a href="#" onclick="user_delete_modal('{{ path('user_delete', { 'id': entity.id }) }}'); return false;"><i class="fa fa-trash-o"></i></a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        
         <div class="modal fade" id="form-modal-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabelDelete" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabelDelete">Eliminar Usuario</h4>
                </div>
                <div class="modal-body">

                    <p>¿Está seguro que desea eliminar el usuario?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="user_delete_submit();">Confirmar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

{% endblock %}
