
{% extends 'BDCPollBundle::layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li class="active"><i class="fa fa-user"></i> Usuarios</li>
            </ol>
        </div>
    </div>    
    <h1 class="page-header">Usuarios</h1>
    <div class="row">
        <div class="col-lg-12 page-actions">
             <a class="btn btn-primary pull-right"href="{{ path('user_form') }}">
                 <i class="fa fa-plus-circle"></i>Agregar Usuario
            </a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
               
                <th>Nombre</th>
                <th>Apellido</th>
                <th>DNI</th>
                <th>E-mail</th>
                <th>Tipo de Socio</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
              {% for entity in entities %}
                <tr>
                   
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.lastname }}</td>
                    <td>{{ entity.dni }}</td>
                    <td>{{ entity.email }}</td>
                    
                    <td>
                        {% if entity.associate.name is defined %}
                            {{ entity.associate.name }}
                        {% endif %}
                    </td>
                    <td>
                        <ul class="table-actions">
                            <li>
                                <a href="{{ path('user_show', { 'id': entity.id }) }}"><i class="fa fa-eye"></i></a> |
                                <a href="{{ path('user_form_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a> |
                                <a href="{{ path('user_delete', { 'id': entity.id }) }}"><i class="fa fa-trash-o"></i></a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

     
{% endblock %}
