{% extends 'BDCPollBundle::layout.html.twig' %}
{% form_theme form with ['BDCPollBundle:Form:bootstrap-override.html.twig'] %}  

{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><i class="fa fa-users"></i> <a href="{{ path('poll') }}">Encuestas</a></li>
                <li class="active">{{ str_action }} Encuesta</li>
            </ol>
        </div>
    </div>    
    <h1 class="page-header">{{ str_action }} Encuesta</h1>
    <div class="row">
        <div class="col-lg-6">
            <form name="bdc_pollbundle_poll" id="bdc_pollbundle_poll" method="post" action="{{url}}" {{ form_enctype(form) }}>
                <!--<input type="hidden" name="_method" value="PUT">-->
                <div class="form-group">
                    {{ form_label(form.name,'Nombre') }}
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.status,'Estado') }}
                    {{ form_errors(form.status) }}
                    {{ form_widget(form.status) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.image_header) }}
                    {{ form_errors(form.image_header) }}
                    {{ form_widget(form.image_header) }}
                    {% if entity.image_header is defined %}
                    {% if entity.image_header|length > 1 %}
                        <div class="img-responsive" style="overflow: hidden;width: 100%;height: 250px; margin-top: 20px">
                            <p>
                                Imagen actual:
                            </p>
                            <img id="imageHeader" src="{{ asset('uploads/images/'~entity.image_header) }}" class="img-thumbnail">
                        </div>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form_label(form.image_footer) }}
                    {{ form_errors(form.image_footer) }}
                    {{ form_widget(form.image_footer) }}
                    {% if entity.image_footer is defined %}
                        {% if entity.image_footer|length > 1 %}
                        <div class="img-responsive" style="overflow: hidden;width: 100%;height: 250px;margin-top: 20px">
                            <p>
                                Imagen actual:
                            </p>
                            <img id="imageFooter" src="{{ asset('uploads/images/'~entity.image_footer) }}" class="img-thumbnail">
                        </div>
                        {% endif %}
                    {% endif %}
                </div>
                    {{ form_widget(form.id_user, {'value' : id_user }) }}
                <div class="row">
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-primary">Confirmar</button>
                    </div>
                </div>
                {{ form_widget(form._token) }}
            </form>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        {#$("#bdc_pollbundle_poll").submit(function(e){#}
            {#e.preventDefault();#}

            {#var imageHeader = $("#bdc_pollbundle_poll_image_header").val();#}
            {#if(imageHeader.length < 1){#}
                {#var currentImageHeader = $("#imageHeader").attr('src');#}
                {#$('#bdc_pollbundle_poll_image_header').val('aa');#}


            {#}#}

{#//            var imageFooter = $("#bdc_pollbundle_poll_image_footer").val();#}
{#//            if(imageFooter.length < 1){#}
{#//                var currentImageFooter = $("#imageFooter").attr('src');#}
{#//                $("#bdc_pollbundle_poll_image_footer").val(currentImageFooter);#}
{#//            }#}


{#//            $('#bdc_pollbundle_poll').unbind('submit').submit();#}

            {#return true;#}
        {#});#}
    {#</script>#}
{% endblock %}
  




