{% extends 'BDCPollBundle::layout.html.twig' %}


{% block body -%}  
    <div class="row">
        <div class="col-lg-12">
            <ul class="breadcrumb">
                <li><i class="fa fa-bar-chart-o"></i> <a href="{{ path('poll') }}">Encuestas</a></li>
                <li class="active">Ver Encuesta</li>
            </ul>
        </div>
    </div>  
                <h1 class="page-header">{{ entity.name }}<a href="{{ path('poll_form_edit', { 'id': entity.id }) }}" class="btn btn-outline btn-primary btn-xs btn-action">Editar</a> </h1>
                


                 <div class="row">
                    <div class="col-lg-12 page-actions">
                        <a href="{{ path('poll_generate', {'id' : entity.id}) }}" class="btn btn-primary pull-right"><i class="fa fa-code margin-right-5"></i>Generar Formulario</a>

                    </div>
                </div>

    <div class="row">
        
        <div class="col-lg-4">
            <ul class="list-group">
                <li class="list-group-item">
                    {% if entity.status == 'active' %}
                        <span class="badge alert-success">Activa</span>
                    {% endif %}
                    {% if entity.status == 'inactive' %}
                        <span class="badge alert-warning">Inactiva</span>
                    {% endif %}
                    {% if entity.status == 'ended' %}
                        <span class="badge alert-info">Finalizada</span>
                    {% endif %}
                    Estado
                </li>
            </ul>
        </div>
        <div class="col-lg-4">
            <ul class="list-group">
                <li class="list-group-item">
                    {% if questions|length > 0 %}
                        <span class="badge">{{ questions|length }}</span>
                        Preguntas
                    {% else %}

                        <span class="badge">0</span>
                        No hay preguntas agregadas
                    {% endif %}


                </li>
            </ul>
        </div>
        <div class="col-lg-4">
            <ul class="list-group">
                <li class="list-group-item">
                    {% if votes|length > 0 %}
                        <span class="badge">{{ votes|length }}</span>
                        Votos
                    {% else %}

                        <span class="badge">0</span>
                        Sin Votos Aún
                    {% endif %}


                </li>
            </ul>
        </div>  
        <div class="col-lg-5">
            <ul class="list-group">
                <li class="list-group-item">
                        <span class="badge">{{ token }}</span>
                        Token
                </li>
            </ul>
        </div>        
        <div class="col-lg-8">
            <ul class="list-group">
                <li class="list-group-item">
                        <span class="badge">{{ link }}</span>
                        Link
                </li>
            </ul>
        </div>                        
        {%if questions is not empty %} 
            <div class="col-lg-12">
                <h2 class="page-header">Preguntas</h2>
                <div class="row">
                    <div class="col-lg-12 page-actions">
                        <button onclick="add_question_modal( {{ entity.id }} );" class="btn btn-primary pull-right"><i class="fa fa-plus-circle margin-right-5"></i>Agregar Pregunta</button>

                    </div>
                </div>
                <div class="row">    
                    <div class="col-lg-12">
                        <ul class="list-group">
                            {% for a in questions %}
                                <li class="list-group-item">{{ a.question }} 
                                    <div class="pull-right">
                                        <a href="{{ path('question_show', { 'id': a.id }) }}"><i class="fa fa-eye"></i></a> |
                                        <a onclick="edit_question_modal({{a.id}},{{a.id_poll}} , '{{a.question}}');"><i class="fa fa-pencil"></i></a> |
                                        <a onclick="delete_question_modal({{a.id}},{{a.id_poll}} , '{{a.question}}');"><i class="fa fa-trash-o"></i></a> 
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>



        {% else %}
            <div class="col-lg-6">
                <div class="alert alert-info">
                    Todavía no has agregado ninguna pregunta, <a href="#" onclick="add_question_modal( {{ entity.id }} );
                                        return false;" class="alert-link">agregar la primera pregunta</a>.
                </div>
            </div>
        {% endif %}
    </div>

    <div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Agregar Pregunta</h4>
                </div>
                <div class="modal-body">

                    <form method="post" id="answer-form">
                        <label class="control-label">Ingrese una pregunta:</label>
                        <input type="text" class="form-control" id="question" name="question"/>
                        <input type="hidden" name="id" id="id" value="{{entity.id}}" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="add_question_submit();">Confirmar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="modal fade" id="form-modal-edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabelEdit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabelEdit">Editar Pregunta</h4>
                </div>
                <div class="modal-body">

                    <form method="post" id="answer-form">
                        <label class="control-label">Pregunta:</label>
                        <input type="text" class="form-control" id="edit_question" name="edit_question"/>
                        <input type="hidden" name="id_answer" id="id_question" value="" />
                        <input type="hidden" name="id_poll" id="id_poll" value="{{entity.id}}" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="edit_question_submit();">Confirmar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="modal fade" id="form-modal-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabelDelete" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabelDelete">Eliminar Pregunta</h4>
                </div>
                <div class="modal-body">

                    <p>Está seguro que desea eliminar la pregunta: "<span id="question_text"></span>"</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="delete_question_submit();">Confirmar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


{% endblock %}


